.auth-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    min-width: 100%;
    min-height: 100vh;
    background: #f4f7fa;
  
    .auth-container {
      position: relative;
      width: 390px;
      padding: 15px;
  
      .icon {
        font-size: 30px;
        color: #c45b9e;
      }
  
      .auth-bg {
        .r {
          position: absolute;
          width: 300px;
          height: 300px;
          border-radius: 50%;
  
          &:first-child {
            top: -100px;
            right: -100px;
            background: linear-gradient(-135deg, #ee247f, #1dc4e9);
          }
  
          &:last-child {
            left: -100px;
            bottom: -100px;
            background: linear-gradient(-135deg, #899fd4, #a389d4);
          }
  
          &:nth-child(2n) {
            animation: floating 9s infinite;
          }
  
          &:nth-child(odd) {
            animation: floating 7s infinite;
          }
  
          &.s {
            width: 20px;
            height: 20px;
  
            &:nth-child(2) {
              top: 150px;
              right: -150px;
              background: #bb66a4;
            }
  
            &:nth-child(3) {
              left: -150px;
              bottom: 150px;
              background: #9893d4;
            }
          }
        }
      }
    }
  
    .text-muted {
      font-size: 13px;
  
      a {
        color: #111;
        font-weight: 600;
      }
    }
  
    .form-control {
      font-size: 14px;
      padding: 10px 15px;
      background: #f4f7fa;
    }
  }
  
  @keyframes floating {
    0% {
      transform: rotate(0) translate(-10px) rotate(0);
    }
  
    to {
      transform: rotate(360deg) translate(-10px) rotate(-360deg);
    }
  }